:root {
    --left-menu-width: 229px;
    --light-navy: #1253a2;
    --main-font: "MyriadPro-Regular";
    /* --main-font: 'M+ 2c', sans-serif; */
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: var(--main-font);
    background-color: #fbfcfd;
}

.h1_title {
    font-size: 30px;
}

.table-container {
    width: 100%;
    overflow-x: scroll;
}

.content {
    padding: 25px;
}

.nav-menu {
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 600;
    color: #1253a2;
    display: flex;
    padding-top: 25px;
}

.nav-item {
    color: #1253a2;
    text-decoration: none;
    white-space: nowrap;
    padding: 0 20px 0 0;
}

.active {
    color: #000;
}

.label {
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.07);
    border: solid 1px #eeeff1;
    background-color: #fff;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--main-font);
}

.btn:hover {
    opacity: 0.85;
}

.btn-add-row {
    background-color: #2f8cff;
    color: #fff;
    margin: 20px 25px;
    display: flex;
    align-items: center;
}

.svg-plus {
    margin: 0 7px 0 0;
}

#id_settings-svg {
    cursor: pointer;
}

.settings-svg {
    display: flex;
    margin: 9px 15px 9px auto;
    justify-content: end;
    position: relative;
}

.settings-popup {
    display: none;
    position: absolute;
    z-index: 1000;
    top: calc(100% + 5px);
    text-align: left;
    /* width: 179px; */
    color: #161616;
    font-size: 14px;
    box-shadow: 0 0 3px 0 #000, inset 0 1px 2px 0 rgba(255, 255, 255, 0.5);
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.settings-popup-btn {
    padding: 7px 10px;
}

#columns-menu {
    display: none;
}

.menu-item {
    display: flex;
    align-items: center;
    margin: 7px 10px;
}

.column-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.column-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.column-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.column-checkbox:checked+label::before {
    border-color: #3261ff;
    background-color: #3261ff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.column-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
}

.column-checkbox:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

.column-checkbox:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.column-checkbox:focus:not(:checked)+label::before {
    border-color: #80bdff;
}

.column-checkbox:disabled+label::before {
    background-color: #e9ecef;
}

.delete-svg:hover {
    filter: brightness(0.7);
}

.delete-popup {
    display: none;
    position: absolute;
    z-index: 1;
}

.delete-btn {
    text-align: left;
    width: 179px;
    color: #ae0a0a;
    padding: 7px 10px;
    font-size: 14px;
    box-shadow: 0 0 3px 0 #000, inset 0 1px 2px 0 rgba(255, 255, 255, 0.5);
    background-color: #fff;
}


#data-table thead tr th {
    border-bottom: solid 1px #eeeff1;
    border-top: solid 1px #eeeff1;
    text-align: left;
    padding: 14px 10px;

    cursor: pointer;
}

#data-table tr td {
    padding: 5px 10px;
    background-color: #fff;
    /* overflow: hidden; */
}

#data-table tr {
    border-radius: 5px;
}

.column-nomer-dragndrop {
    /* white-space: nowrap; */
    text-align: center;
}

#data-table {
    border-collapse: collapse;
    white-space: nowrap;
    /* overflow: hidden; */
    position: relative;
    table-layout: fixed;
    width: max-content;
}

.helper {
    /* color: red; */
}

.placeholder {
    background-color: #eeeff1;
}

.col1 {
    width: 25px;
}

.col2 {
    width: 12px;
}

.col3 {
    width: 603px;
}

.col4 {
    width: 196px;
}

.col5,
.col6 {
    width: 147px;
}

.col7 {
    width: 122px;
}

#data-table thead tr th {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ui-resizable-handle {
    border-left: solid 1px #eeeff1;
}

.ui-resizable-handle:hover {
    border-left: solid 2px #ccc;
}

.ui-resizable-handle:before {
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 100px;
    background: #ccc;
}

.sortable-placeholder {
    border-radius: 5px;
    outline: 2px dashed #a6b7d4;
    /* border: 2px dashed #a6b7d4; */
    background-color: #fbfcfd;
}

.data-column-input {
    font-family: var(--main-font);
    font-size: 16px;
    color: #000;
    padding: clamp(5px, 10px, 10px) clamp(1px, 15px, 15px);
    /* width: 100%; */
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    border: solid 1px #ccc;
    background-color: #fff;
    /* Add any other styles you want to customize the appearance of the input element */
}

.data-column-input:focus {
    color: #000;
    border-color: #007bff;
}

.data-column-input[readonly] {
    background-color: #eee;
    cursor: not-allowed;
}

.dragndrop-svg {
    margin-right: 5px;
}

.dragndrop-svg:hover {
    cursor: pointer;
}

#mobile-table {
    display: none;
    margin-top: 25px;
}

.data-block {
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.07);
    border: solid 1px #eeeff1;
    background-color: #fff;
    margin-top: 5px;
}

.block-header {
    font-size: 10px;
    color: #8f8f8f;
    margin-bottom: 5px;
}

.data-cell {
    font-size: 16px;
    color: #000;
    margin-bottom: 15px;
}

.summary-block {
    font-size: 14px;
    width: 304px;
    margin: 0px 15px 25px auto;
    justify-content: end;
}

.summary-details {
    color: #8f8f8f;
    background-color: #fbfcfd;
    padding: 15px;
    border-radius: 5px;

    border: solid 1px #eeeff1;

}

.summary-item {
    margin-top: 15px;
    display: flex;
}


.summary-item:first-child {
    margin-top: 0px;
}

.summary-footer {
    display: flex;
    margin-top: 5px;
    background-color: #fbfcfd;
    padding: 15px;
    border-radius: 5px;
    border: solid 1px #eeeff1;
}

.menu {
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--left-menu-width);
    background-image: radial-gradient(circle at 29% 0, #000, #1c2734 103%);
}

#data-table {
    display: block;
    padding-bottom: 20px;
}

.content {
    margin-left: var(--left-menu-width);
}

@media (max-width: 1366px) {
    .menu {
        display: none;
    }

    .content {
        margin-left: 0px;
    }
}

@media (max-width: 991px) {
    #mobile-table {
        display: block;
    }

    #hide-on-mobile {
        display: none;
    }
}